@import "tailwindcss";

@theme {
  --color-primary: #3b82f6;
  --color-secondary: #6b7280;
  --color-destructive: #ef4444;

  --color-divider: #e5e7eb;
}

:root {
  --sidebar-width: 250px;
  --sidebar-width-collapsed: 80px;
}
